*~
*.in
Makefile
*.la
.deps
.libs
test-driver
*.lo
*.o
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
aclocal.m4
autom4te.cache/
compile
m4/
missing
src/config.h
src/stamp-h1
*.log
*.trs
ylwrap

*.creator.user
src/lexer.c
src/lexer.h
test/*-test